@import domain.GuestbookEntry
@import views.html.helper.FieldConstructor
@*
* Guestbook new entry component
*@
@(form: Form[GuestbookEntry] = Form.form(classOf[GuestbookEntry]).fill(new GuestbookEntry()))

@implicitField = @{
	FieldConstructor(bootstrapFormFields.f)
}


<div class="well">
@if(form != null){
	@helper.form(action = routes.GuestbookController.postGuestbookEntry(), 'id -> "guestbook-entry-form", 'class->"form-inline") {

		@helper.input(form("alias")) { (id, name, value, args) =>
			<input type="text" name="@name" id="@id" value="@value" placeholder="@name" class="form-control" @toHtmlArgs(args)>
		}

		@helper.input(form("message")) { (id, name, value, args) =>
			<input type="text" name="@name" id="@id" value="@value" placeholder="@name" class="form-control" @toHtmlArgs(args)>
		}

		<button id="guestbook-entry-form-button" type="submit" title="Submit" class="btn btn-info" style="vertical-align: top">
			<i class="fa fa-check"></i> Submit
		</button>
	}
}
</div>