@*
* This template takes a single argument, a String containing a
* message to display.
*@
@import domain.GuestbookEntry
@(message: String, guestbook: List[GuestbookEntry], form: Form[GuestbookEntry])
@*
* Call the the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Guestbook") {

	<div class="row">
		<div class="col-md-12">
			<h3>Leave us a message!</h3>
		@components.guestbookEntryForm(form)
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		@components.guestbookEntryList(guestbook)
		</div>
	</div>


}
